.delete-form, .edit-form {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  justify-items: center;
  align-items: center;
  width: 100%;
}


form {
  display: flex;
  width: 50%;
}


input {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: rgba(192, 192, 192, 0.199);
  height: 3em;
  width: 100px;
  text-align: center;
  margin: 10px;
  margin-right: 3em;
}

label {
  display: none;
}

p {
  display: block;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  color: rgb(77, 77, 77);
  text-align: center;
}

div {
  display: inline-block;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  color: rgb(77, 77, 77);
  text-align: center;
  padding-top: 200px;
}


.button {
  width: 10em;
  text-align: center;
}

.button:hover {
  color: white;
  background-color: hsl(212, 94%, 40%);
}
