h2 {
  font-family: 'Italianno', cursive;
  font-size: 70px;
  color: black;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

p, div {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 21px;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

p {
  padding-left: 70px;
  padding-right: 70px;
  text-align: justify;

}

.italic {
  text-decoration: underline;
  font-style: italic;
}

img {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  filter: saturate(150%);
  border: 2px solid silver;
  background-color: rgb(247, 244, 241);
  filter: drop-shadow(0 0.7rem 1rem rgba(0, 0, 0, 0.9));
}

.gridlayout1 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 50% 40%;
  justify-items: center;
  align-items: center;
  padding: 10px;
  margin: 30px;
  gap: 10px;
}

.gridlayout2 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 30% 70%;
  justify-items: center;
  align-items: center;
  padding: 10px;
  margin: 30px;
  gap: 5px;
}

.imggrid {
  grid-row: 1 / span 3;
  grid-column: 1 / span 1;
}

.textgrid {
  grid-row: 4 / span 3;
  grid-column: 1 / span 3;
}

.akc1 {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  border: 2px solid rgb(107, 107, 107);
  width: 100%;
}

.akc2 {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  border: 2px solid rgb(107, 107, 107);
  width: 100%;

}

.akc3 {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  border: 2px solid rgb(107, 107, 107);
  width: 100%;

}


@media screen and (max-width: 820px) {
  p {
    font-size: 16px;
    padding: 10px;
  }

  div {
    padding: 10px;
  }

  .gridlayout1 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 90%;
    justify-items: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    gap: 10px;
  }

  .gridlayout2 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 90%;
    justify-items: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    gap: 10px;
  }

  .imggrid {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    text-align: center;
  }

  .textgrid {
    grid-row: 2;
    grid-column: 1;
  }

  .akc1 {
    grid-row: 3;
    grid-column: 1;
  }

  .akc2 {
    grid-row: 4;
    grid-column: 1;
  }

  .akc3 {
    grid-row: 5;
    grid-column: 1;
  }
}
