  <app-coverphoto></app-coverphoto>
  <mat-divider></mat-divider>

  <H2>Our Purpose</H2>
  <div>
    <p>This page is in honor of our very loving, quirky, and spirited Labrador Retrievers, Clark and Eddie, to promote the adoption of Labrador Retrievers in need of a loving home across the United States.  Clark and Eddie are brothers from the same litter.  Clark is the chocolate lab, and Eddie is the black lab.  Their favorite things to do are swim, frisbee, and catch the tennis ball.  They have two distinct and different personalitites.  Clark is quite the athlete, and Eddie loves to play and is a little mischievous.</p>
    <p>We want to show everyone how much fun, and <span class="italic">how much work</span>, they can be.  Labs are friendly, outgoing, and high-spirited companions who have more than enough affection to go around for a family looking for a medium-to-large dog. The sturdy, well-balanced Labrador Retriever can, depending on the sex, stand from 21.5 to 24.5 inches at the shoulder and weigh between 55 to 80 pounds. They are enthusiastic athletes that require lots of exercise, like swimming and marathon games of fetch, to keep physically and mentally fit.</p>
    </div>

  <div class="gridlayout1">
    <p>Before deciding whether to adopt any pet, you really should consider the amount of time that you will have to properly care for it.  If you're feeling the need to adopt a dog but will have to use a daily dog kennel while you're away at work for ten hours, you should probably think twice.  There will be behavior issues with your dog, and you will not have the bonding that it takes to enforce good behavior.  Labs, in particular, are very family-oriented and need to be around their "pack" in order to keep those bad behaviors from occurring.</p>
    <img src="../../../assets/pupaction5.jpg"  alt="Puppy picture" />
  </div>

  <div class="gridlayout2">
    <div class="imggrid">
    <img src="../../../assets/pupaction8.jpg"  alt="Puppy picture" />
    </div>
    <div class="textgrid">
    <p>According to the American Kennel Club, the Labrador Retriever is an exuberant, very energetic breed that needs lots of exercise every day. A Lab who doesn't get enough exercise is likely to engage in hyperactive and/or destructive behavior to release pent-up energy. The breed's favorite activities are retrieving and swimming. Labs also love to burn up energy on hunting trips or at field trials, as well as by participating in canine sports such as agility, obedience, tracking, and dock diving. Many Labs also work hard in important roles such as search-and-rescue, drug and bomb detection, and as service and assistance dogs.</p>
    </div>
    <div class="akc1">
      <p>Sample text</p>
    </div>
    <div class="akc2">
      <a href="https://www.akc.org/" break><img style="filter: none;" src="../../../assets"  alt="AKC Logo" /></a>
    </div>
    <div class="akc3">
      <p>Sample text</p>
    </div>
  </div>
  <app-slideshow></app-slideshow>


