h2 {
  font-family: 'Italianno', cursive;
  font-size: 50px;
  color: black;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

p, div {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  color: black;
}

div {
  padding: 10px;
  margin: 30px;
}

p {
  padding-left: 70px;
  padding-right: 70px;
  text-align: left;

}

.italic {
  text-decoration: underline;
  font-style: italic;
}

img {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  filter: saturate(150%);
  border: 2px solid silver;
  background-color: rgb(247, 244, 241);
  filter: drop-shadow(0 0.7rem 1rem rgba(0, 0, 0, 0.9));
}

a {
  color: lavender;
}

a:hover {
  color: rgb(188, 188, 207);
}



a>img {
  filter: none;
  border: none;
  padding: 0;
  width: 50%;

}

.gridlayout1 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 50% 40%;
  justify-items: center;
  align-items: center;
  padding: 10px;
  margin: 30px;
  gap: 10px;
}

.gridlayout2 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 30% 70%;
  justify-items: center;
  align-items: center;
  padding: 10px;
  margin: 30px;
  gap: 5px;
}

.imggrid {
  grid-row: 1 / span 3;
  grid-column: 1 / span 1;
}

.textgrid {
  grid-row: 4 / span 3;
  grid-column: 1 / span 3;
}

.akc1 {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  background-color: rgb(95, 95, 95);
  border: 12px double silver;
  width: 100%;
  padding: 30px;
  margin: none;
  color: white;
  text-decoration: none;
}

.akc2 {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  width: 100%;
  text-align: center;
  justify-items: center;
  align-content: center;
  padding: none;
  margin: none;

}

.akc3 {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  background-color: rgb(95, 95, 95);
  border: 12px double silver;
  width: 100%;
  padding: 30px;
  margin: none;
  color: white;
  text-decoration: none;
}

.pngclipart {
  width: 10rem;
  padding: 0;
  margin: 0;
  filter: none;
  border: none;
  background-color: transparent;
}


@media screen and (max-width: 820px) {
  p {
    font-size: 16px;
    padding: 10px;
  }

  div {
    padding: 10px;
  }

  .gridlayout1 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    gap: 10px;
  }

  .gridlayout2 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    gap: 10px;
  }

  .imggrid {
    grid-row: 4;
    grid-column: 1;
    width: 100%;
    text-align: center;
    padding: none;
    margin: none;

  }

  .textgrid {
    grid-row: 5;
    grid-column: 1;
    padding: none;
    margin: none;

  }

  .akc1 {
    grid-row: 1;
    grid-column: 1;
    padding: none;
    margin: none;

  }

  .akc2 {
    grid-row: 2;
    grid-column: 1;
    padding: none;
    margin: none;

  }

  .akc3 {
    grid-row: 3;
    grid-column: 1;
    padding: none;
    margin: none;

  }

  .pngclipart {
    display: none;
  }
}
