<div>
  <img class="mySlides" src="../../../assets/pupfun1.jpg">
  <img class="mySlides" src="../../../assets/pupfun2.jpg">
  <img class="mySlides" src="../../../assets/pupfun3.jpg">
  <img class="mySlides" src="../../../assets/pupfun4.jpg">
  <img class="mySlides" src="../../../assets/pupfun5.jpg">
  <img class="mySlides" src="../../../assets/pupfun6.jpg">
  <img class="mySlides" src="../../../assets/pupfun7.jpg">
  <img class="mySlides" src="../../../assets/pupfun8.jpg">
  <img class="mySlides" src="../../../assets/pupfun9.jpg">
  <img class="mySlides" src="../../../assets/pupfun10.jpg">
  <img class="mySlides" src="../../../assets/pupfun11.jpg">
  <img class="mySlides" src="../../../assets/pupfun12.jpg">
</div>

