<div class="allabout">
<p>
  Clark and Eddie are brothers from the same litter. Clark is the chocolate lab, and Eddie is the black lab. Their favorite things to do are swim, frisbee, and catch the tennis ball. They have two distinct and different personalitites. Clark is quite the athlete, and Eddie loves to play and is a little mischievous.
</p>
<div class="sociallink"><a href="https://www.instagram.com/the_clark_and_eddie/" target="_blank"><p>Follow them on Instagram</p><p>at the_clark_and_eddie here!</p><p><img src="../../../assets/instagramlogo.png" alt="Instagram Logo" /></p></a>
</div>
</div>

<app-slideshow></app-slideshow>
<app-videos></app-videos>
