.gridlayout1 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: center;
}

h2, h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  color: rgb(77, 77, 77);
  margin: 20px;
  text-align: center;
}

input {
  box-sizing: border-box;
}

label, input {
  width: 40rem;
  padding: 10px 50px 10px 50px;
  margin: 10px 50px 10px 50px;
  text-align: left;
}

textarea {
  width: 40rem;
  height: 200px;
}

p {
  display: block;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: rgb(77, 77, 77);
  text-align: center;
}

div {
  display: block;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: rgb(77, 77, 77);
  text-align: center;
}

img {
  width: 70%;
  grid-column: 1 / span 1;
  grid-row: 1 / span 4;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-content: center;
}

.comment-submitted {
  display: block;
  padding: 20px 20px 200px 20px;
  margin-bottom: 100px;
}

button {
  margin: 10px
}



@media screen and (max-width: 775px) {
  .gridlayout1 {
    grid-template-rows: auto;
    grid-template-columns: 100%;
  }
}
