<h2>Leave us a comment!</h2>

<div class="gridlayout1">
  <div class="random-dog">
    <img src="{{ randomdog }}" alt="something" />
  </div>
  <div class="comment-input">
    <div class="input-name">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" ngModel>
    </div>
    <div class="input-email">
    <label for="email">Email</label>
    <input type="text" id="email" name="email" ngModel>
    </div>
    <div class="input-comment">
    <p><label for="comment">Comment</label></p>
    <textarea [(ngModel)]="comment"></textarea>
    </div>
    <div class="input-submit">
    <button (click)="post()">Submit Comment</button>
    </div>
  </div>
</div>

<h3>Comments:</h3>
  <div *ngFor="let comments of postComment" class="comment-submitted">
    <p>{{comments}}</p>
  </div>
  <p>This site is pawsome!</p>


<!-- <form #newCommentForm="ngForm" class="new-comment-form" (ngSubmit)="addComment(newCommentForm.value)">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" ngModel />

  <label for="email">Email</label>
  <input type="text" id="email" name="email" ngModel>

  <label for="comment">Comment</label>
  <textarea type="url" name="comment" id="comment" ngModel></textarea>

  <input type="submit" value="Add Comment" />
</form>
</div> -->
