<!-- <div>
  <div *ngFor="let randomdog of randomdogs; let i = index;">
    <img *ngFor index:{{i}} src="{{randomdog.message}}" alt="labrador picture" />
  </div>
</div> -->




<div class="layout">


<!--
  <div>
    <div *ngFor="let randomdog of randomdogs" >
      <img *ngIf="randomdog.message"src="{{randomdog.message}}" alt="puppy" />
    </div>
  </div> -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <!-- <mat-panel-title>
          <p>Newsletter</p>
        </mat-panel-title> -->
        <mat-panel-description>Click dropdown to view a sample of our newsletter.</mat-panel-description>
      </mat-expansion-panel-header>
      <img src="../../../assets/newsletter.jpg" class="newsletter" alt="Newsletter Sample" />

    </mat-expansion-panel>
</div>
<div class="formlayout">
<div class="form">
  <form #loginForm="ngForm" (ngSubmit)="submit(loginForm.value)">
  <p class="top">Sign Up For Our Newsletter!</p>
  <p class="first-name">
    <label for="firstName">First Name: </label>
    <input ng-required="true" ngModel id="firstName" name="firstName" required/>
  </p>
  <p class="last-name">
    <label for="lastName">Last Name: </label>
    <input ng-required="lastName" ngModel id="lastName" name="lastName" required/>
  </p>
  <div class="email-input">
    <label for="email">Email Address: </label>
    <input #email="ngModel" email="true" name="email" required  minlength="6" maxlength="64" type="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ngModel/>
    <div *ngIf="email.touched && email.invalid" class="alert">
      Valid email is required.
    </div>
  </div>
  <p class=".submit-button">
  <input [disabled]="!loginForm.valid" type="submit" value="Subscribe" />
  </p>
</form>
</div>
<div class="gif">
  <img src="../../../assets/pawgif.gif" class="pawgif" alt="Pawprint gif" />
</div>
</div>
<app-comments></app-comments>




<!-- <div class="email-input">
  <label for="email">Email Address: </label>
  <input #email="ngModel" minlength="4" required type="email" id="email" name="email" ngModel/>
  <div *ngIf="email.touched && email.invalid" class="alert">
    Valid email is required.
  </div>
</div> -->


