.mat-form-field+.mat-form-field {
  margin-left: 8px;
}

mat-expansion-panel {
  text-align: center;
  width: 100%;
}

mat-expansion-panel-header {
  height: 70px;
  background-color: #757575;
  border: 4px solid white;
  margin: 2em;
  border: 2px solid rgb(228, 228, 228);

}

#firstName, #lastName {
  text-transform: capitalize;
}

.formlayout {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  padding-top: 100px;
}

p, div {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: rgb(97, 97, 97);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

label {
  display: flexbox;
  padding-right: 10px;
}

a {
  text-decoration: none;
}

input, max-step {
  width: 200px;
}

img {
  width: 20%;
}

form {
  display: grid;
  padding: 10px;

}

.form {
  text-align: left;
  padding-bottom: 70px;
  width: 70%;
  background-color: #cacaca4b;
  color: rgb(97, 97, 97);
  border: 2px solid rgb(97, 97, 97);
  border-radius: 4px;
}

input.ng-invalid {
  border: 1px solid hsl(0, 50%, 50%);
}

.pawgif {
  opacity: 0.2;
  width: auto;
  text-align: center;
  transform: rotate(270deg);
  position: relative;
  top: 7rem;
}

.gif {
  text-align: center;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 635px) {
  .pawgif {
    display: none;
  }
}

@media screen and (max-width: 365px) {
  mat-panel-description {
    display: none;
  }
}

@media screen and (max-width: 410px) {
  .form {
    width: 100%;
  }

  p, div {
    padding: 0;
    margin: 2px;
  }
}

.alert {
  background-color: red;
  color: white;
  width: 200px;
  text-align: center;
  padding: 20px;
  border: 2px double white;
  border-radius: 12px;
}

.comment-button {
  display: block;
  text-align: center;
}

button {
  --c: #fff;
  /* text color */

  background:
    linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p, 100%)/300% no-repeat,
    hsl(212, 93%, 59%);
  /* background color */
  color: #0000;
  border: none;
  border-radius: 15px;
  transform: perspective(500px) rotateY(calc(5deg*var(--_i, -1)));
  text-shadow:
    calc(var(--_i, -1)* 0.08em) -.01em 0 var(--c),
    calc(var(--_i, -1)*-0.08em) .01em 2px #0004;
  outline-offset: .1em;
  transition: 0.3s;
}

button:hover,
button:focus-visible {
  --_p: 0%;
  --_i: 1;
}

button:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9q #0005;
  transition: 0s;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: #ccc;
}

button {
  font-family: system-ui, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  cursor: pointer;
  padding: .7em .5em;
}
