.mat-form-field+.mat-form-field {
  margin-left: 8px;
}

mat-expansion-panel {
  text-align: center;
  width: 100%;
}

mat-expansion-panel-header {
  height: 70px;
  background-color: rgb(228, 228, 228);
  border: 4px solid rgba(0, 0, 0, 0.384);
  margin: 2em;
}

mat-panel-description {
  color: black;
  font-size: 1.5em;
  text-align: center;
  text-decoration: solid;
  text-transform: uppercase;
}


#firstName, #lastName {
  text-transform: capitalize;
}

.formlayout {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  padding-top: 100px;
}

p, div {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

label {
  display: flexbox;
  padding-right: 10px;
}

a {
  text-decoration: none;
}

input, max-step {
  width: 200px;
}

img {
  width: 20%;
}

form {
  display: grid;
  padding: 10px;

}

.form {
  text-align: left;
  padding-bottom: 70px;
  width: 70%;
  background-color: #cacaca4b;
  color: rgb(97, 97, 97);
  border: 2px solid rgb(97, 97, 97);
  border-radius: 4px;
}

input.ng-invalid {
  border: 1px solid hsl(0, 50%, 50%);
}

.pawgif {
  opacity: 0.2;
  width: auto;
  text-align: center;
  transform: rotate(270deg);
  position: relative;
  top: 7rem;
}

.gif {
  text-align: center;
  padding: 0;
  margin: 0;
}



@media screen and (max-width: 635px) {
  .pawgif {
    display: none;
  }
}

@media screen and (max-width: 365px) {
  mat-panel-description {
    display: none;
  }
}

@media screen and (max-width: 410px) {
  .form {
    width: 100%;
  }

  p, div {
    padding: 0;
    margin: 2px;
  }
}

.alert {
  background-color: red;
  color: white;
  width: 200px;
  text-align: center;
  padding: 20px;
  border: 2px double white;
  border-radius: 12px;
}
