<header>
  <nav class="navbar">
      <div class="dropdown">
          <button class="dropbtn">

            <!-- <i class="fa fa-caret-down">&#8595; Menu &#8595;</i> -->
            <i class="fa fa-caret-down"><img src="../../../assets/labiconpng.png" class="icon" alt="Dropdown Menu" /></i>

            <p>Menu</p>
          </button>
          <div class="dropdown-content">
            <a routerLink="">Home</a>
            <a routerLink="/AllAbout">About Clark & Eddie</a>
            <a routerLink="/Adoption">Adoption</a>
            <a routerLink="/Newsletter">Newsletter</a>
            <a routerLink="/Comment">Comments</a>
          </div>
      </div>
  </nav>
</header>
