<header>
  <nav class="navbar">
      <div class="dropdown">
          <button class="dropbtn">
            <i class="fa fa-caret-down"><img src="https://ik.imagekit.io/sharron/labiconpng_qMwdxxMJu.png?ik-sdk-version=javascript-1.4.3&updatedAt=1655373774002" class="icon" alt="Dropdown Menu" /></i>
            <p>Menu</p>
          </button>
          <div class="dropdown-content">
            <a routerLink="">Home</a>
            <a routerLink="/AllAbout">About Clark & Eddie</a>
            <a routerLink="/Adoption">Adoption</a>
            <a routerLink="/Newsletter">Newsletter</a>
            <a routerLink="/Comment">Comments</a>
          </div>
      </div>
  </nav>
</header>
