.navbar {
  overflow: hidden;
  /* background-color: #333333; */
  background-image: url("../../../assets/pawprints.png");
  background-size: 1000px 100px;
  background-repeat: repeat;
  font-family: Arial;
  height: 100px;
  padding: 0;
}

.navbar a {
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  margin-left: 20px;
}

.dropdown {
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  font-weight: 900;
  border: none;
  outline: none;
  color: rgb(255, 0, 13);
  padding: 10px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: hsl(212, 94%, 40%);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(92, 91, 91);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 14px 14px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight: 900;
}

.dropdown-content a:hover {
  background-color: rgb(121, 117, 117);
}

.dropdown:hover .dropdown-content {
  display: block;
}

li {
  text-decoration: none;
}

nav:link,
a:link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

span {
  color: whitesmoke;
  text-align: center;
}

.icon {
  width: 50px;
  margin: 0;
  padding: 0;
}

.banner {
  margin: 0;
  padding: 0;
}

button>p {
  margin: 0;
  padding: 0;
}
