.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

.navbar a {
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
}

.dropdown {
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 10px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: hsl(212, 94%, 40%);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(92, 91, 91);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 14px 14px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgb(121, 117, 117);
}

.dropdown:hover .dropdown-content {
  display: block;
}

li {
  text-decoration: none;
}

nav:link,
a:link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

span {
  color: whitesmoke;
  text-align: center;
}

.icon {
  width: 75px;
}
