<header>
  <nav class="navbar">
      <div class="dropdown">
          <button class="dropbtn">
            <i class="fa fa-caret-down">&#8595; Menu &#8595;</i>
            <!-- <i class="fa fa-caret-down"><img src="jeticon.jpg" class="icon" alt="Dropdown Menu" /></i> -->
          </button>
          <div class="dropdown-content">
              <a href="index.html">Home</a>
              <a href="grid.html">Photos in Grid</a>
              <a href="flex.html">Photos in Flex</a>
          </div>
      </div>
  </nav>
</header>
