

<div class="layout">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p>Newsletter</p>
        </mat-panel-title>
        <mat-panel-description>Click dropdown to view a sample of our newsletter.
        </mat-panel-description>
      </mat-expansion-panel-header>
      <img src="../../../assets/newsletter.jpg" class="newsletter" alt="Newsletter Sample" />

    </mat-expansion-panel>
</div>

<div>
<form #loginForm="ngForm" (ngSubmit)="subscribe(loginForm.value)">
  <p>Sign Up For Our Newsletter!</p>
  <p>
    <label for="firstName">First Name: </label>
    <input ng-required="true" ngModel id="firstName" name="firstName" required/>
  </p>
  <p>
    <label for="lastName">First Name: </label>
    <input ng-required="lastName" ngModel id="lasstName" name="lastName" required/>
  </p>
  <p>
    <label for="email">Email Address: </label>
    <input ngModel type="email" id="email" name="email" required/>
  </p>
  <div class="frequency">
    <p class="formp">How often would you like to receive an update sent to your email?</p>
    <input type="radio" id="daily" name="frequency" value="daily" required/>
    <label for="daily">Daily</label>
    <input type="radio" id="weekly" name="frequency" value="weekly" />
    <label for="weekly">Weekly</label>
    <input type="radio" id="monthly" name="frequency" value="monthly" />
    <label for="monthly">Monthly</label>
  </div>
  <p>
  <input type="submit" value="Subscribe">
  </p>
</form>
</div>

