<div class="gridlayout1">
<div class="grid4">
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <p>Action Pictures</p>
    </mat-panel-title>
    <mat-panel-description>
      <img src="../../../assets/pupaction2.jpg" alt="Placeholder Picture" />
    </mat-panel-description>
  </mat-expansion-panel-header>
 <a href="../puppypictures/actionpictures.component.html"><app-actionpictures></app-actionpictures></a>
  <!-- <mat-action-row>
    <button mat-button>Click me</button>
  </mat-action-row> -->
</mat-expansion-panel>
</div>
<div class="grid1">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p>Puppy Pictures</p>
      </mat-panel-title>
      <mat-panel-description>
        <img src="../../../assets/puppy1.jpg" alt="Placeholder Picture" />
      </mat-panel-description>
    </mat-expansion-panel-header>
   <a href="../puppypictures/puppypictures.component.html"><p>Puppy Pictures</p><app-puppypictures></app-puppypictures></a>
    <!-- <mat-action-row>
      <button mat-button>Click me</button>
    </mat-action-row> -->
  </mat-expansion-panel>
  </div>
  <div class="grid2">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p>Water Pictures</p>
        </mat-panel-title>
        <mat-panel-description>
          <img src="../../../assets/pupwater1.jpg" alt="Placeholder Picture" />
        </mat-panel-description>
      </mat-expansion-panel-header>
     <a href="../puppypictures/waterpictures.component.html"><p>Water Pictures</p><app-waterpictures></app-waterpictures></a>
      <!-- <mat-action-row>
        <button mat-button>Click me</button>
      </mat-action-row> -->
    </mat-expansion-panel>
    </div>
    <div class="grid3">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p>Funny Pictures</p>
          </mat-panel-title>
          <mat-panel-description>
            <img src="../../../assets/pupfun4.jpg" alt="Placeholder Picture" />
          </mat-panel-description>
        </mat-expansion-panel-header>
       <a href="../puppypictures/funnypictures.component.html"><p>Funny Pictures</p><app-funnypictures></app-funnypictures></a>
        <!-- <mat-action-row>
          <button mat-button>Click me</button>
        </mat-action-row> -->
      </mat-expansion-panel>
      </div>
      <div class="grid5">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <p>Camping Pictures</p>
            </mat-panel-title>
            <mat-panel-description>
              <img src="../../../assets/pupcamp13.jpg" alt="Placeholder Picture" />
            </mat-panel-description>
          </mat-expansion-panel-header>
         <a href="../puppypictures/campingpictures.component.html"><app-campingpictures></app-campingpictures></a>
          <!-- <mat-action-row>
            <button mat-button>Click me</button>
          </mat-action-row> -->
        </mat-expansion-panel>
        </div>
        <div class="grid6">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <p>Sleeping Pictures</p>
              </mat-panel-title>
              <mat-panel-description>
                <img src="../../../assets/pupsleep1.jpg" alt="Placeholder Picture" />
              </mat-panel-description>
            </mat-expansion-panel-header>
           <a href="../puppypictures/campingpictures.component.html"><p>Sleeping Pictures</p><app-campingpictures></app-campingpictures></a>
            <!-- <mat-action-row>
              <button mat-button>Click me</button>
            </mat-action-row> -->
          </mat-expansion-panel>
          </div>
</div>
