<div class="gridlayout1">
  <div class="grid1">Puppy Pictures</div>
  <div class="grid2">Action Pictures</div>
  <div class="grid3">Water Pictures</div>
  <div class="grid4">Funny Pictures</div>
  <div class="grid5">Videos</div>
  <div class="grid6">Camping Pictures</div>


  <!-- <img src="airshow10.jpg" class="gridimage1" alt="Air Show Image" />
  <img src="airshow17.jpg" class="gridimage2" alt="Air Show Image" />
  <img src="airshow11.jpg" class="gridimage3" alt="Air Show Image" /> -->
</div>
<p>Random Text</p>
