<div class="gridlayout1">
  <div class="grid1"><a href="../puppypictures/puppypictures.component.html"><img src="../../../assets/CEMisc1.jpg" alt="Placeholder Picture" /><p>Puppy Pictures</p><app-puppypictures></app-puppypictures></a></div>
  <div class="grid2"><a href="../puppypictures/actionpictures.component.html"><img src="../../../assets/CEMisc1.jpg" alt="Placeholder Picture" /><p>Action Pictures</p><app-actionpictures></app-actionpictures></a></div>
  <div class="grid3"><a href="../puppypictures/waterpictures.component.html"><img src="../../../assets/CEMisc1.jpg" alt="Placeholder Picture" /><p>Water Pictures</p><app-waterpictures></app-waterpictures></a></div>
  <div class="grid4"><a href="../funnypictures/puppypictures.component.html"><img src="../../../assets/CEMisc1.jpg" alt="Placeholder Picture" /><p>Funny Pictures</p><app-funnypictures></app-funnypictures></a></div>
  <div class="grid5"><a href="../puppypictures/videos.component.html"><img src="../../../assets/CEMisc1.jpg" alt="Placeholder Picture" /><p>Videos</p><app-videos></app-videos></a></div>
  <div class="grid6"><a href="../puppypictures/campingpictures.component.html"><img src="../../../assets/CEMisc1.jpg" alt="Placeholder Picture" /><p>Camping Pictures</p><app-campingpictures></app-campingpictures></a></div>

</div>
<p>Random Text</p>
