.new-comment-form {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.form-comment {
  display: block;
  width: 100%;
  margin-top: 100px;
}

form {
  width: 50%;

}


input {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: rgba(192, 192, 192, 0.199);
  height: 3em;
}

label, input {
  width: 70%;
  text-align: center;
  margin: 10px;
  margin-right: 3em;
}

p {
  display: block;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  color: rgb(77, 77, 77);
}

div {
  display: block;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  color: rgb(77, 77, 77);
}

.comment-section {
  height: 5em;
  text-align: left;
}

.name-section, .email-section {
  text-align: left;
}

.comment-button {
  width: auto;
  text-align: center;
  color: rgb(58, 58, 58);
}

.comment-button:hover {
  color: white;
  background-color: hsl(212, 94%, 40%);
}

@media screen and (max-width: 775px) {
  .new-comment-form {
    grid-template-rows: auto;
    grid-template-columns: 100%;
    width: 100%;
  }

}
