<div>
  <img class="mySlides" src="../../../assets/puppy1.jpg">
  <img class="mySlides" src="../../../assets/puppy2.jpg">
  <img class="mySlides" src="../../../assets/puppy4.jpg">
  <img class="mySlides" src="../../../assets/puppy5.jpg">
  <img class="mySlides" src="../../../assets/puppy6.jpg">
  <img class="mySlides" src="../../../assets/puppy7.jpg">
  <img class="mySlides" src="../../../assets/puppy8.jpg">
  <img class="mySlides" src="../../../assets/puppy9.jpg">
  <img class="mySlides" src="../../../assets/puppy10.jpg">
  <img class="mySlides" src="../../../assets/puppy11.jpg">
  <img class="mySlides" src="../../../assets/puppy12.jpg">
  <img class="mySlides" src="../../../assets/puppy13.jpg">
  <img class="mySlides" src="../../../assets/puppy14.jpg">
  <img class="mySlides" src="../../../assets/puppy15.jpg">
</div>
