
<div class="container">

  <div class="photocarousel">
    <div>
      <h2>Scroll through our pictures!</h2>
      <gallery [items]="images" thumbPosition="left"></gallery>
    </div>

  </div>
  <div class="carouseltext">
    <p>Clark and Eddie are Labrador Retrievers that are brothers from the same litter.  Clark is a chocolate lab, and Eddie is a black lab.  Their favorite things to do are to swim, frisbee, and catch the tennis ball.</p><p>They have two distinct and different personalities.  Clark is quite the athlete.  Eddie loves to play and is a little mischievous.</p>
  </div>
</div>
