/* .photocarousel ul {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: auto
} */



.container {
  display: grid;
  grid-template-columns: 70% 30%;
  justify-items: center;
  align-items: center;
  background-color: #333333;
  gap: 5px;
  border-top: 5px solid #8b8b8ba8;
  border-bottom: 5px solid #8b8b8ba8;

}

gallery {
  width: 100%;
  height: 590px;
}


.photocarousel {
  background-color: #33333300;
  width: 90%;
}

.carouseltext {
  width: 70%;
  color: white;
  margin-right: 70px;
  padding: 40px 15px 40px 15px;
  font-size: 25px;
}

h2 {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 15px;
}

@media screen and (max-width: 1024px) {
  .container {
    display: block;
    justify-items: center;
    align-items: center;
    background-color: #333333;
    border-top: 5px solid #8b8b8ba8;
    border-bottom: 5px solid #8b8b8ba8;
    width: 100%;
    text-align: center;
  }

  .photocarousel {
    background-color: #33333300;
    width: 100%;
  }

  gallery {
    width: 100%;
    height: 25rem;
  }
}

.carouseltext {
  width: 90%;
  color: white;
  font-size: 16px;
}

@media screen and (max-width: 414px) {
  gallery {
    width: 100%;
    height: 200px;
  }

  .carouseltext {
    width: 90%;
    color: white;
    font-size: 16px;
  }
}
