p, div {
  display: inline-block;
  justify-items: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  color: rgb(77, 77, 77);
  text-align: center;
  width: 90%;
  margin-top: 50px;
}



.sociallink {
  font-size: 15px;
  width: 20em;
  height: 130px;
  border: 2px solid silver;
  border-radius: 15px;
  padding: 0;
  margin-top: 30px;
  background-color: rgba(192, 192, 192, 0.336);
  /* filter: drop-shadow(0 0.7rem 1rem rgba(0, 0, 0, 0.9)); */
}



img {
  width: 3em;
  padding-bottom: 10px;
  padding-top: 10px;
}

a>p {
  padding: 5px;
  margin: 0;
}

a {
  color: lavender;
  text-decoration: none;
}

a:hover {
  color: hsl(212, 94%, 40%);
}
