p, div {
  display: inline-block;
  justify-items: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  color: rgb(77, 77, 77);
  text-align: center;
  margin-top: 50px 50px 0 50px;
  padding: 50px 50px 0 50px;
}



.sociallink {
  font-size: 15px;
  width: 300px;
  height: 170px;
  border: 2px solid silver;
  border-radius: 15px;
  padding: 0;
  margin-top: 30px;
  /* filter: drop-shadow(0 0.7rem 1rem rgba(0, 0, 0, 0.9)); */
}



img {
  width: 55px;
  padding-bottom: 10px;
  padding-top: 10px;
}

a>p {
  padding: 10px;
  margin: 0;
}

a {
  color: lavender;
  text-decoration: none;
}

a:hover {
  color: hsl(212, 94%, 40%);
}

/* p, div {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 21px;
  color: black;
}

div {
  padding: 10px;
  margin: 30px;
} */
