.embed-video {
  width: 45%;
  border: 2px solid white;
  height: 30rem;
}

.video {
  text-align: center;
  padding-bottom: 100px;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  color: rgb(107, 107, 107);
  text-align: center;
  padding-top: 2rem;
  margin-top: 100px;
}

@media screen and (max-width: 1024px) {
  .embed-video {
    width: 90%;
    border: 2px solid white;
    height: 30rem;
  }


}

@media screen and (max-width: 400px) {
  .embed-video {
    display: none;
  }

  h3 {
    display: none;
  }
}
