.embed-video {
  width: 100%;
  border: 2px solid white;
  height: 30rem;
}

h2 {
  font-family: 'Italianno', cursive;
  font-size: 100px;
  text-align: center;
  padding-top: 2rem;
  margin-top: 2rem;
}
