.embed-video {
  width: 45%;
  border: 2px solid white;
  height: 30rem;
}

.video {
  text-align: center;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  color: rgb(107, 107, 107);
  text-align: center;
  padding-top: 2rem;
  margin-top: 2rem;
}
