body,
header {
  width: auto;
}

h1 {
  font-family: 'Italianno', cursive;
  font-size: 80px;
  text-align: center;
  padding: 40px 20px 20px 20px;
}


h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: rgb(107, 107, 107);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;

}
