<!doctype html>
<html lang="en">

<app-head></app-head>

<body>
  <h1>Clark & Eddie</h1>
  <h2>Labrador Retrievers</h2>
<app-navigation></app-navigation>
<app-mainpage></app-mainpage>

    <div>
        <img src="airshow15.jpg" class="coverimg" alt="Air Show Image" />
        <p>Mirror Image</p>
    </div>

    <div class="gridlayout1">
        <img src="airshow10.jpg" class="gridimage2" alt="Air Show Image" />
        <img src="airshow17.jpg" class="gridimage3" alt="Air Show Image" />
        <img src="airshow11.jpg" class="gridimage4" alt="Air Show Image" />
    </div>
    <p>This is just a grid layout with five columns, with the images beginning on the second column.</p>
</body>

</html>
