<div>
  <img class="mySlides" src="../../../assets/pupcamp1.jpg">
  <img class="mySlides" src="../../../assets/pupcamp2.jpg">
</div>
<div>
  <img class="mySlides" src="../../../assets/pupcamp4.jpg">
  <img class="mySlides" src="../../../assets/pupcamp5.jpg">
</div>
<div>
  <img class="mySlides" src="../../../assets/pupcamp6.jpg">
  <img class="mySlides" src="../../../assets/pupcamp7.jpg">
</div>
<div>
  <img class="mySlides" src="../../../assets/pupcamp8.jpg">
  <img class="mySlides" src="../../../assets/pupcamp9.jpg">
</div>
  <img class="mySlides" src="../../../assets/pupcamp10.jpg">
  <img class="mySlides" src="../../../assets/pupcamp11.jpg">
<div>
  <img class="mySlides" src="../../../assets/pupcamp12.jpg">
  <img class="mySlides" src="../../../assets/pupcamp13.jpg">
</div>
<div>
  <img class="mySlides" src="../../../assets/pupcamp14.jpg">
  <img class="mySlides" src="../../../assets/pupcamp15.jpg">
</div>
<div>
  <img class="mySlides" src="../../../assets/pupcamp16.jpg">
  <img class="mySlides" src="../../../assets/pupcamp3.jpg">
</div>
