p, div {
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: rgb(77, 77, 77);
  margin: 20px;
}

.searchformdiv {
  display: block;
  width: 90%;
  text-align: center;
  padding: 10px;
}

.searchform {
  display: grid;
  grid-template-columns: 2fr .5fr;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.searchbar {
  width: 17rem;
}

input {
  padding: 5px;
}

label {
  display: none;
}

.search-button {
  width: auto;
  text-align: center;
  border-radius: 5px;
}

.search-button:hover {
  color: white;
  background-color: hsl(212, 94%, 40%);
}
